/*
Made by Ivan Steblenko 01/04/17.

Content:
Global Styles
Navigation
Header
Text Styles
Page Structure
Headings
Forms
Comments
Extras
*/
/* ============================================= */
/* =============GLOBAL STYLES=================== */
/* ============================================= */
* {
    margin: 0;
    padding: 0;
}
body,html {
    height: 100%;
    width: 100%;
    font-size: 16px;
}
a {
    transition: all .35s;
    color: #a185ae;
}
hr {
    border-width: 0;
    margin: 50px 0;
}
h1 {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
}
p {
    line-height: 1.5;
    margin-bottom: 20px;
}
header {
    min-height: auto;
    background-size: cover;
    background-position: center;
    background-image: url("../img/header.jpg");
    color: #fff;
    position: relative;
    width: 100%;
    text-align: center
}
section {
    padding: 100px 0;
}
.btn {
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}
.btn-primary {
    color: #fff;
    background-color: #a185ae;
    border-color: #a185ae;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover{
    color: #fff;
    background-color: #a185ae;
    border-color: #a185ae;
}
.btn-default {
    color: #222;
    background-color: #fff;
    border-color: #fff;
    transition: all .35s;
}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover {
    color: #222;
    background-color: #fff;
    border-color: #fff;
}
.no-gutter>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}
.no-padding {
    padding: 0;
}
[class*="col-"] {
    margin-bottom: 30px;
}
[class*="col-"]:last-of-type {
    margin-bottom: 0px;
}
.hidden-column {
    visibility: hidden;
    height: 0;
}
/* ============================================= */
/* =============NAVIGATION====================== */
/* ============================================= */
.navbar .container-fluid {
    padding: 0;
}
.navbar .navbar-header .navbar-brand {
    color: rgba(0,0,0,.5);
    font-weight: 700;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link {
    text-transform: uppercase;
}
.navbar-default {
    background-color: #fff;
    border-color: rgba(34,34,34,.05);
    transition: all .35s;
}
/* ============================================= */
/* =============HEADER========================== */
/* ============================================= */
header .header-content {
    padding: 100px 15px;
}
header .header-content {
    position: relative;
    width: 100%;
    text-align: center
}
header .header-content .header-content-inner p {
    font-weight: 400;
    color: rgba(255,255,255,.95);
    font-size: 16px;
    margin-bottom: 50px;
}
/* ============================================= */
/* =============TEXT STYLES=================== */
/* ============================================= */
.text-faded {
    color: rgba(255,255,255,.9);
}
.text-primary {
    color: #a185ae !important;
}
/* ============================================= */
/* =============PAGE STRUCTURE=================== */
/* ============================================= */
.bg-primary {
    background-color: #a185ae !important;
}
.bg-secondary {
    background-color: #b7db98;
}
.bg-primary h2 {
    color: #fff;
}
.promo-box {
    max-width: 400px;
    margin: 50px auto 0;
}
.promo-box h3 {
    margin-top: 20px;
}
/* Variants */
.info-column {
    background-color: rgba(161, 133, 174, 0.42);
    width: 100%;
    transition: all 1s;
}
.info-column .variant-info-content {
    color: #fff;
    padding-top: 2rem;
    font-family: 'Exo 2';
}
.info-column .variant-info-content .content-slogan {
    letter-spacing: -0.03em;
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: 4rem;
    line-height: 1.00962;
}
.info-column .variant-info-content .badge-text {
    font-size: 1.5rem;
    font-weight: 300;
}
.info-column .gallery {
    margin-top: 3rem;
}
.info-column .thumbnail img {
    width: 100%;
}
#calculate .variant-box {
    width: 100%;    
    cursor: pointer;
    box-sizing: content-box;
    border: 1px solid #fff;
    background-color: #f2f2f2;
}
#calculate .variant-box.active {
    background-color: #a185ae;
    color: #fff;
}
#calculate .variant-box .thumbnail img {
    width: 100%;
}
#calculate .variant-box .price {
    font-size: 2rem;
    font-weight: bold;
    float: right;
    padding-right: 1rem;
}
#feedback .fotorama {
    margin: auto;
}
#feedback .fotorama .feedback-photo {
    text-align: center;
}
#feedback .fotorama .feedback-text h4 {
    text-align: center;
    padding-bottom: 1rem;
}
#feedback .fotorama .feedback-text p {
    padding-left: 2rem;
    padding-right: 2rem;
}
#feedback .fotorama .feedback-photo img {
    border-radius: 100px;
    width: 100px;
    vertical-align: top;
    margin-bottom: 2rem;
}

/* =============================================*/

@media (min-width: 992px) {
    /* ============================================= */
    /* =============PAGE STRUCTURE=================== */
    /* ============================================= */
    .promo-box {
        margin: 20px auto 0;
    }
}

@media (min-width: 768px) {
    /* ============================================= */
    /* =============GLOBAL STYLES=================== */
    /* ============================================= */
    header  {
        min-height: 100%;
    }
    /* ============================================= */
    /* =============NAVIGATION====================== */
    /* ============================================= */
    .navbar-default.affix {
        background-color: #fff;
        border-color: rgba(34,34,34,.05);
    }
    .navbar-default.affix .navbar-header .navbar-brand {
        color: #a185ae;
        font-size: 17px;
    }
    .navbar-default {
        background-color: rgba(255,255,255,.5);
    }
    .navbar .navbar-header {
        float: left;
    }
    .navbar #collapseNavbar {
        float: right;
    }
    .navbar-default .nav > li > a.active, 
    .navbar-default .nav > li > a:focus {
        color: #a185ae !important;
    }
    /* ============================================= */
    /* =============HEADER========================== */
    /* ============================================= */
    header .header-content {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 50px;
    }
    header .header-content .header-content-inner {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    header .header-content .header-content-inner h1 {
        font-size: 50px;
    }
    header .header-content .header-content-inner p {
        font-size: 20px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    /* ============================================= */
    /* =============PAGE STRUCTURE=================== */
    /* ============================================= */
    .services-row .col-md-6 {
        height: 270px;
    }
}

@media (max-width: 768px) {
    /* ============================================= */
    /* =============NAVIGATION====================== */
    /* ============================================= */
   .navbar .navbar-header .navbar-brand {
       margin-right: 0;
       color: #a185ae;
    }
    .navbar-toggler {
        float: right;
    }
    #feedback .fotorama {
    margin: auto;
    width: calc(100% - 20px);
    }
    #feedback .fotorama__stage {
        height: 600px !important;
    }
    #feedback .fotorama .feedback-photo {
        text-align: center;
    }
    #feedback .fotorama .feedback-photo img {
        border-radius: 50px;
        width: 50px;
        vertical-align: top;
        margin-bottom: 1rem;
    }
    #feedback .fotorama .feedback-text h4 {
        text-align: center;
        padding-bottom: 1rem;
    }
    #feedback .fotorama .feedback-text p {
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 1rem;
    }
}